<main>
  <section class="banners">
    <div>
      <img src="/assets/images/fruits.jpeg" alt="Apples in a bunch" />
    </div>
    <div>
      <img src="/assets/images/berry.jpeg" alt="A bunch of berries" />
    </div>
    <div>
      <img src="/assets/images/banner-1.jpeg" alt="Slushy oranges" />
    </div>
    <div>
      <img src="/assets/images/banner-2.jpeg" alt="A diverse set of fruits" />
    </div>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="\assets\images\skittles.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </section>
  <section class="product-area">
    <!-- TODO: Create product list component -->

    <app-product-list [fruits]="items"></app-product-list>
  </section>
</main>